doctype html
html
	head
		style.
			.status{
				font-size: 32px;
				margin: 2em auto;
				width: 50%;
				text-align: center
			}
			.good{
				color: #37AE7C;
			}
			.bad{
				color: #a83333;
			}
	body
		.status
		script(src="js/jquery-2.1.1.min.js")
		script(src="js/internet.js")
